* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#contents {
  background: url("../img/christmas.jpg") no-repeat;
  /* no-repeat 반복시키지 말아라 */
  width: 640px;
  height: 426px;

  margin: 0 auto;

  position: relative;
}

h1 {
  color: #fff;
  font-size: 50px;
  text-shadow: 2px 3px 0 #000;
  position: absolute;
  bottom: 50px;
  left: 10px;
}

h5 {
  color: #fff;
  font-size: 30px;
  text-shadow: 2px 3px 0 #000;
  position: absolute;
  right: 10px;
  top: 10px;
}
